@import "@/assets/css/mixin.scss";
@import "@/components/TabBarBottom/index.scss";

.staff-wrapper {
  padding-bottom: 20px;
  .staff-main {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    padding-top: 28px;
    height: 100%;
    .group {
      margin-bottom: 34px;
      .title {
        @include font-style(32px, #848484, bold);
        &.subTitle {
          font-size: 28px;
        }
      }

      .list {
        padding: 34px 0;
        display: flex;
        border-bottom: 2px solid #e4e4e4;
        @include font-style();
        .content {
          flex: 1;
        }
      }
      .bold {
        font-weight: bold;
      }
    }
  }
}
