@import "@/assets/css/mixin.scss";

.order-goods-item {
  margin-bottom: 30px;
  line-height: 36px;
  @include font-style(28px, #434343);

  .pic-box {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #E4E4E4;
    overflow: hidden;

    .img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .name {
    margin-bottom: 10px;
  }

  .price {
    @include font-style(28px, #FF3F81, bold);
  }

  .text-box {
    flex: 1;
    overflow: hidden;
  }
}
