@import "@/assets/css/mixin.scss";
@import "@/components/SecondCaption/index.scss";

.write-off-index {
  padding-bottom: 0;

  .write-off-index_wrap {
    width: 94.67%;
    margin: 0 auto;
    padding: 0 1px;
  }

  .store-info-box {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 36px 30px 20px;
    border-radius: 20px;
    background: #FDD000;

    .store-info {
      margin-bottom: 25px;
    }

    .logistics-menu {
      width: auto;
      margin-left: 70px;
      line-height: 32px;
      text-align: center;
      font-size: 28px;
      color: #000000;

      .num {
        margin-bottom: 4px;
      }

      .lm-item {
        margin-right: 80px;

        &:nth-last-of-type(1) {
          margin-right: 0;
        }
      }
    }
  }

  .want-container {
    margin-top: 20px;
    padding: 30px 30px 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .15);

    .tit {
      margin-bottom: 30px;
      line-height: 42px;
      font-size: 32px;
      font-weight: bold;
      color: #ffffff;
    }

    .w-item {
      margin-right: 100px;
      text-align: center;
      font-size: 28px;
      color: rgba(255, 255, 255, .3);

      .icon-box {
        width: 80px;
        height: 80px;
        margin: 0 auto 9px;
        border-radius: 80px;
        background-color: #FDD000;
      }

      &:nth-of-type(2) {
        .icon-box {
          background-color: #229E8E;
        }
      }

      &:nth-of-type(3) {
        margin-right: 0;

        .icon-box {
          background-color: #FF3F81;
        }
      }
    }

    .input-box {
      margin: 40px 0 60px;

      .at-input {
        background-color: transparent;
        border: 0;
        font-size: 48px;
        color: rgba(253, 208, 0, 1);
        font-weight: bold;

        input {
          height: 64px;
          color: inherit;
          font-size: inherit;
        }

        &::after {
          border: 0;
        }
      }
    }

    .input-placeholder {
      color: rgba(253, 208, 0, .5) !important;
    }
  }

  .record-icon-box {
    margin-bottom: 148px;
    line-height: 36px;
    text-align: center;
    @include font-style(28px, rgba(255, 255, 255, .3));

    .icon-box {
      width: 80px;
      height: 80px;
      border-radius: 80px;
      margin: 30px auto 9px;
      background-color: #FF3F81;
    }
  }
}
