@import "@/assets/css/mixin.scss";

.register-store-wrapper {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  @include linear-gradient(#f5f5f5, #fff, vertical);
  padding-top: 202px;
  position: relative;
  .header {
    padding: 0 50px;
    .content {
      .title {
        @include font-style(36px, #000, bold);
      }
      .desc {
        margin-top: 10px;
        @include font-style(20px, #848484);
      }
    }
  }
  .register-store-container {
    margin: 60px 20px 0;
    .custom-list {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        transform-origin: center;
        box-sizing: border-box;
        pointer-events: none;
        left: -50%;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        border-top-width: 1px;
        border-bottom-width: 1px;
        top: -50%;
        right: -50%;
        bottom: -50%;
      }
      .list-item {
        @include font-style(28px);
        @include flex-center(column, center, null);
        box-sizing: border-box;
        line-height: 1.5;
        padding: 15px 30px;
        min-height: 90px;
        box-shadow: 0px 4px 6px 0px #e4e4e4;
        margin-bottom: 20px;
        border-radius: 20px;
        background: #fff;
        &:last-child {
          border-bottom: none;
        }
        .list-item-content_tips {
          @include font-style(24px, #e0004e, bold);
        }
        .list-item-container {
          @include flex-center(null, null);
          width: 100%;
          .list-item-content {
            width: 150px;
            overflow: hidden;
            margin-right: 10px;
            .list-item-content_title {
              @include text-overflow();
              @include font-style(inherit, inherit);
              @include flex-center(row, null);
              line-height: 1.5;
            }
          }
          .list-item-extra {
            flex: 1;
            text-align: right;
            @include flex-center(row, flex-end);
          }
          .list-item-extra_info {
            @include text-overflow();
            @include font-style(28px, #000);
            width: 100%;
            vertical-align: middle;
            box-sizing: border-box;
          }
          .list-item-extra_icon {
            @include flex-center(row, flex-end);
            min-width: 80px;
            @include font-style(20px);
          }
        }
      }
    }
    .store-input {
      padding: 0;
      &::after {
        display: none;
      }
      input {
        @include font-style(28px);
        line-height: initial;
        padding-right: 0;
      }
    }
    .bold {
      font-weight: bold !important;
    }
  }
  .button-position {
    bottom: 100px;
  }
}
