@import "@/assets/css/mixin.scss";
.storeCode-wrapper {
  padding-bottom: 20px;
  .storeCode-main {
    padding: 0 20px;
    flex-grow: 1;
    overflow-x: hidden;
    padding-top: 28px;
    .storeCode-group {
      .left {
        color: #fff;
        flex: auto;
      }
      .right {
        color: #fdd000;
        width: 50%;
        text-align: right;
      }
    }
    .storeCode-container {
      margin: 0 30px;
      .logo-content {
        height: 142px;
        @include flex-center();
        image {
          width: 188px;
          height: 96px;
        }
      }
      .content {
        background: #fdd000;
        padding: 24px 24px 60px;
        @include flex-center(column, null);
        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 14px;
          border: 3px solid #434343;
          background-color: #fff;
          .at-avatar {
            width: 100%;
            height: 100%;
            line-height: initial;
            border-radius: 14px;
          }
        }
        .font-24 {
          @include font-style(24px, #000);
          line-height: 34px;
        }
        .font-20 {
          @include font-style(20px, #000);
        }
        .no {
          @include font-style(28px, #000, bold);
        }
        .qrcode {
          box-sizing: border-box;
          background: #fff;
          border-radius: 20px;
          @include flex-center(column, null);
          padding: 20px 20px 0;
          margin: 16px 0 10px;
          .pic {
            width: 209px;
            height: 209px;
            position: relative;
            margin-bottom: 10px;
            @include flex-center();
            .logo {
              width: 40px;
              height: 40px;
              background: #e4e4e4;
              border-radius: 14px;
              z-index: 1;
            }
            image {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
        .pay-type {
          margin: 17px 0 10px;
          width: 370px;
          .at-col {
            @include flex-center(column,null)
          }
        }
      }
      .tips-size {
        @include font-style(24px);
        margin: 25px 0 34px;
        text-align: center;
      }
      .point-button {
        border-color: #000;
        color: #000;
      }
    }
  }
}
