@import "@/assets/css/mixin.scss";
@import "@/components/SmallSwitch";

.interact-edit_container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 130px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .interact-edit_caption_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
  }

  .interact-edit_main_wrap {
    height: 100%;
    overflow: auto;

    .li {
      padding: 34px 0;
      line-height: 38px;
    }

    .at-switch {
      padding: 0;
    }

    .interact-edit_main_box {
      width: 86.67%;
      height: 100%;
      box-sizing: border-box;
      margin: 0 auto;
      padding-bottom: 100px;

      .interact-edit_main_tit {
        margin-bottom: 10px;
        padding-top: 36px;
        line-height: 42px;
        @include font-style(32px, #000000, bold);
      }

      .interact-edit_main_desc {
        margin-bottom: 70px;
        line-height: 26px;
        @include font-style(20px, #848484);
      }
    }
  }

  .interact-edit_footer_wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    @include flex-center();
    overflow: hidden;

    .button-position {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .tag {
    border: 2px solid #c3c3c3;
    width: 130px;
    height: 50px;
    margin-left: 20px;
    padding: 0;
    line-height: 50px;
    background: none;
    border-radius: 0;
    @include text-overflow();
    @include font-style(24px, #434343);

    &.at-tag--active {
      color: #229E8E;
      border-color: #229E8E;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 30px solid #229E8E;
        border-left: 30px solid transparent;
      }

      &::before {
        content: "";
        position: absolute;
        right: 4px;
        bottom: 5px;
        z-index: 3;
        width: 5px;
        height: 10px;
        border-color: #ffffff;
        border-style: solid;
        border-width: 0 1px 2px 0;
        transform: rotate(45deg);
      }
    }
  }

  .at-textarea {
    margin-top: 11px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-color: #C3C3C3;
  }

  .at-textarea__textarea {
    line-height: 32px;
    @include font-style(24px, #848484);
  }

  .at-textarea__counter {
    @include font-style(20px, #848484);
  }

  .at-image-picker__flex-box {
    margin-bottom: 20px;
    padding: 0;

    .at-image-picker__flex-item {
      width: 200px;
      height: 200px;
      margin-left: 0;
      flex: none
    }
  }

  .flex {
    @include flex-center();
    width: 100%;
    overflow: hidden;

    &.at {
      align-items: flex-start;
    }
  }

  .flex1 {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .flex-shrink {
    flex-shrink: 0;
  }

  .pt-32 {
    padding-top: 32px;
  }

  .pr-20 {
    padding-right: 20px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .mb-34 {
    margin-bottom: 34px;
  }

  .mb-6 {
    margin-bottom: 6px;
  }

  .border-bottom {
    border-bottom: 1PX solid #E4E4E4;
  }

  .font-1 {
    @include font-style(20px, #848484);
  }

  .font-2 {
    @include font-style(24px, #000000, bold);
  }

  .font-3 {
    @include font-style(28px, #434343);
  }

  .font-4 {
    @include font-style(28px, #434343, bold);
  }

  .font-5 {
    @include font-style(24px, #848484);
  }

  .font-6 {
    @include font-style(24px, #434343);
  }

  .font-7 {
    @include font-style(20px, #434343);
  }

  .font-8 {
    @include font-style(28px, #229E8E, bold);
  }

  .rule-box {
    margin-top: 40px;
    line-height: 38px;
    text-align: justify
  }

  .ta-right {
    text-align: right;
  }

  .input {
    padding-right: 8px;
    text-align: right;
    @include font-style(28px, #434343);
  }

  .w480 {
    width: 480px;
  }

  .edit-level-card_box {
    .edit-level-card_caption {
      padding: 34px 0 20px;
    }

    .edit-level-card_main {
      margin-bottom: 16px;
      padding: 20px 28px 20px 20px;
      line-height: 36px;
      border: 1PX solid #848484;
      border-radius: 20px;
    }
  }

  .edit-level-time_box {
    @include flex-center(row, space-between, flex-start);

    .edit-level-time_left {
      width: 480px;
      text-align: justify;

      .font-1 {
        line-height: 28px;
      }
    }

    .edit-level-time_right {
      @include flex-center(row, flex-end);

      .font-3 {
        margin-right: 8px;
      }
    }
  }

  .at-action-sheet__header {
    padding: 30px 70px 32px;
    @include font-style(28px, #000000);

    &::after {
      border: 0;
    }
  }

  .at-action-sheet__item {
    padding: 0;
    line-height: 86px;
    height: 86px;
    @include font-style(28px, #434343);

    &::after {
      border: 0;
    }

    .active {
      @include font-style(32px, #000000, bold);
    }
  }
}
