@import "@/assets/css/mixin.scss";
@import "@/components/SecondCaption/index.scss";

.order-detail {

  .order-detail_wrap {
    width: 86.67%;
    height: 100%;
    margin: 0 auto;

    .item {
      display: flex;
      color: #434343;
      padding: 34px 0;
      border-bottom: 1PX solid #E4E4E4;

      .label {
        flex-shrink: 0;
      }

      .text {
        flex: 1;
      }

      .icon-box {
        margin-left: 20px;
      }

      &.hb {
        justify-content: space-between;
      }

      &.vc {
        align-items: center;
      }
    }

    .textarea-box {
      .label {
        padding: 34px 0;
        font-size: 28px;
        color: #434343;
      }

      .at-textarea {
        border: 1PX solid #e4e4e4;
        border-radius: 10px;
        padding: 30px;
        font-size: 28px;
      }


    }

    .textarea-btn {
      margin-top: 30px;
      text-align: right;
    }

    .dt {
      padding-top: 54px;
      font-size: 32px;
      font-weight: bold;
    }

    .dt2 {
      color: #000000;
      font-size: 28px;
      font-weight: bold;
    }

    .dd {
      font-size: 28px;
    }

    .pink {
      color: #E0004E;
    }

    .bold {
      font-weight: bold;
    }

  }

  .second-page_footer_wrap {
    .item {
      width: 50%;
      text-align: center;
    }
  }
}
