@import "@/assets/css/mixin.scss";
.privilege-wrapper {
  padding-bottom: 20px;
  .privilege-main {
    padding: 0 20px;
    flex-grow: 1;
    overflow-x: hidden;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .top {
      background: #434343;
      border-radius: 10px 10px 0 0;
      padding: 0 20px 0 40px;
      height: 60px;
      font-size: 24px;
      margin: 0 30px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      color: #fff;
      .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #fdd000;
        margin-right: 10px;
        @include flex-center();
      }
    }
    .privilege-content {
      flex: 1;
    }
    .privilege-tab {
      display: flex;
      flex-direction: column;
      .at-tabs__header {
        margin-left: 0px;
        padding-left: 30px;
        background: #f0f0f0;
        border-radius: 10px;
        box-sizing: border-box;
        box-sizing: 0 4px 6px #e4e4e4;
        .at-tabs__item {
          color: #434343;
        }
      }
      .at-tabs__body {
        flex: 1;
      }
      .at-tabs-pane {
        height: 100%;
        margin-top: 0px;
      }
      .tabspane {
        height: 100%;
      }
      .empty {
        @include flex-center();
        height: 100%;
        vertical-align: middle;
        text-align: center;
        @include font-style();
      }
    }
  }
}
