@import "@/assets/css/mixin.scss";
.sale-wrapper {
  padding-bottom: 20px;
  .sale-main {
    flex-grow: 1;
    overflow-x: hidden;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 28px 50px 0;
    .header-title {
      @include font-style(24px, #000);
      margin-bottom: 90px;
      .title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    .sale-tab {
      .at-tabs__header {
        margin-left: 0;
      }
      .sale-container {
        .sale-list {
          margin: 5px 0 83px;
          .sale-list-item {
            padding: 15px 0;
            display: flex;
            @include font-style(28px, #848484);
            .content {
              flex: 1;
            }
            .extra {
              color: #434343;
            }
          }
        }
        .used {
          @include font-style(28px, #848484, bold);
        }
      }
    }
  }
  .button-position {
    .default-button {
      border-color: #000;
      color: #000;
    }
  }
}
