@import "@/assets/css/mixin.scss";
.header-title {
  @include flex-center(row, null, center);
  height: 44PX;
  width: 94.67%;
  margin: 0 auto;
  text {
    padding-left: 10px;
    @include font-style(28px, #000);
  }
}
