.account-info {
  display: flex;
  width: 94.67%;
  margin: 0 auto;
  padding: 0 0 48px;
  font-weight: 800;
  color: #000000;



  .item {
    margin-right: 27px;
  }

  .text1 {
    margin-bottom: 2px;
    padding-top: 8px;
    line-height: 28px;
    font-size: 24px;
  }

  .text2 {
    line-height: 34px;
    font-size: 28px;
  }
}

.account-info_avatar {
  width: 74px;
  height: 74px;
  border: 2PX solid #434343;
  border-radius: 14px;
  overflow: hidden;
  background-color: #ffffff;
}
