@import "@/assets/css/mixin.scss";

.activity-wrapper {
  padding-bottom: 20px;
  .activity-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    height: 100%;
    .activity-info {
      width: 86.67%;
      margin: 0 auto;
      background: none;
      box-shadow: none;
      padding: 0;
      &.show-last-border {
        .list-item:last-child {
          border-bottom: 1px solid #e4e4e4;
        }
      }
      .header {
        display: flex;
        padding-top: 10px;
        .content {
          flex: 1;
          @include font-style(20px, #848484);
          line-height: 24px;
          margin-right: 81px;
          &.create-content {
            margin-right: 0;
          }
          .title {
            display: flex;
            margin-bottom: 10px;
            @include font-style(32px, #000, bold);
            .left {
              flex: 1;
            }
            .right {
              @include flex-center(row, flex-end);
              @include font-style(24px, #848484);
              text {
                margin-right: 18px;
              }
            }
          }
        }
      }
      .caption {
        @include font-style(28px, #434343, bold);
        margin: 40px 0 6px;
        &.color-229E8E {
          color: #229e8e;
        }
        &.tips {
          @include font-style(24px, #229e8e);
          line-height: 34px;
          margin: 36px 0 0;
        }
        .desc {
          display: block;
          @include font-style(20px, #848484);
        }
      }
      .placeholder {
        color: #848484;
      }
      .flex-start {
        align-items: flex-start;
      }
      .tag {
        border: 2px solid #c3c3c3;
        width: 130px;
        height: 50px;
        margin-left: 20px;
        padding: 0;
        line-height: 50px;
        background: none;
        border-radius: 0;
        @include text-overflow();
        @include font-style(24px, #434343);

        &.at-tag--active {
          color: #229e8e;
          border-color: #229e8e;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 30px solid #229e8e;
            border-left: 30px solid transparent;
          }

          &::before {
            content: "";
            position: absolute;
            right: 4px;
            bottom: 5px;
            z-index: 3;
            width: 5px;
            height: 10px;
            border-color: #ffffff;
            border-style: solid;
            border-width: 0 1px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
      .ticket-content {
        padding-top: 34px;
        .ticket-item {
          width: 100%;
          height: 150px;
          background: #ededed;
          border-radius: 20px;
          padding: 15px 30px;
          margin-bottom: 20px;
          box-sizing: border-box;
          display: flex;
          @include font-style(24px);
          .content {
            flex: 1;
            text {
              display: block;
            }
            .title {
              font-size: 28px;
            }
            .desc {
              color: #848484;
              margin-bottom: 12px;
            }
          }
          .sale {
            @include flex-center(row, flex-start, flex-start);
            @include font-style(28px, #434343, bold);
            text {
              font-size: 40px;
            }
          }
        }
      }
      .add {
        @include font-style(28px, #ff3f81);
        text-align: right;
      }
      .uploadImg {
        margin: 30px 0 40px;
        position: relative;
        &.uploadImg_two{
          margin-bottom: 0;
        }
        .tips {
          @include font-style(24px, #848484);
          line-height: 34px;
          text {
            display: block;
          }
        }
        .tips-position {
          position: absolute;
          top: 0;
          left: 212px;
        }
        .at-image-picker__flex-box {
          margin-bottom: 20px;
          padding: 0;

          .at-image-picker__flex-item {
            width: 200px;
            height: 200px;
            margin-left: 0;
            flex: none;
          }
        }
      }
      .product-table {
        margin-top: 34px;
        @include font-style();
        .title {
          font-weight: bold;
          margin-bottom: 28px;
        }
        .center {
          text-align: center;
        }
      }
      .textarea-content {
        height: 200px;
        border: 2px solid #c3c3c3;
        padding: 15px;
        margin-top: 10px;
        border-radius: 20px;
        .at-textarea__textarea {
          height: 144px;
          line-height: 34px;
          @include font-style(24px, #434343);
        }
        .at-textarea__counter {
          height: 26px;
          line-height: 26px;
          padding-top: 0;
          @include font-style(20px, #848484);
        }
      }
    }
  }
}
