@import "@/assets/css/mixin.scss";
.select-product-wrapper {
  padding-bottom: 20px;
  .select-product-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    height: 100%;
    .search-bar {
      width: 86.67%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      .content {
        flex: 1;
        height: 80px;
        line-height: 80px;
        border-radius: 40px;
        padding: 0 30px;
        background: linear-gradient(90deg, #e5e5e5, #f5f5f5, #f5f5f5, #e0e0e0);
        box-shadow: inset 10px 25px 5px -10px #d5d5d5;
        @include flex-center(row, flex-start);
        .input-content {
          background: none;
          input {
            @include font-style(24px);
            height: 100%;
          }
          &::after {
            display: none;
          }
        }
      }
      .extra {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #229e8e;
        margin-right: 56px;
        @include flex-center();
        @include font-style(28px, #e4e4e4);
      }
    }
    .select-product-tab {
      width: 86.67%;
      margin: 0 auto;
      .at-tabs__header {
        margin-left: 0;
        .at-tabs__item {
          font-weight: bold;
          color: #434343;
          &.at-tabs__item--active {
            color: #000;
          }
        }
      }
    }
  }
}
