@import "@/assets/css/mixin.scss";

.getCustomer-todayData_container {
  width: 94.67%;
  margin: 0 auto 30px;

  .caption {
    @include flex-center(row, flex-start);
    width: 91.5%;
    height: 60px;
    margin: 0 auto;
    padding: 0 40px;
    border-radius: 10px 10px 0 0;
    @include font-style(24px, #ffffff);
    background-color: #434343;
    box-sizing: border-box;

    .icon-box{
      @include flex-center();
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-radius: 30px;
      border: 1PX solid #FDD000
    }
  }

  .getCustomer-todayData_main {
    @include flex-center(row, flex-start);
    height: 180px;
    background: linear-gradient(left, #EDEDED, #FBFBFB, #ffffff);
    box-shadow: 20px 20px 20px #E4E4E4;
    border-radius: 20px;

    .item {
      @include flex-center(column, flex-start);
      width: 33.33%;

      .tit {
        line-height: 38px;
        margin-bottom: 35px;
        @include font-style(28px, #434343);
      }

      .num {
        line-height: 42px;
        @include font-style(32px, #000000);
      }
    }
  }
}
