@import "@/assets/css/mixin.scss";

.coupon-create-card_item {
  position: relative;
  @include flex-center();
  margin-bottom: 30px;
  padding: 40px 160px 40px 40px;
  border-radius: 20px;
  background: linear-gradient(left, #EDEDED, #FBFBFB, #FFFFFF);
  box-shadow: 20px 20px 20px #e4e4e4;

  .icon-box {
    flex-shrink: 0;
    @include flex-center();
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 20px;
  }

  .text-box {
    flex: 1;
  }

  .card-tit {
    padding-top: 10px;
    margin-bottom: 10px;
    line-height: 36px;
    @include font-style(28px, #000000);
  }

  .card-desc {
    @include font-style(24px, #848484);
    line-height: 28px;
  }

  .btn {
    position: absolute;
    top: 20px;
    right: 20px;
    flex-shrink: 0;
  }

  .gray-button {
    width: 120px;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    border-radius: 30px;
    color: #229E8E;
    background-color: #EDEDED;
    border-color: #EDEDED;
  }
}
