@import '../../components/TabBarBottom/index.scss';
@import '../../components/CardItem/index.scss';
@import '../../components/TabBar/index.scss';
@import '../../components/AccountInfo/index.scss';
@import '../../components/ActivityCard/index.scss';
@import './components/spread/IntegralContainer.scss';
@import "./interconnectIndex.scss";

.home {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;

  .main {
    height: 100%;
    overflow: auto;
    padding-bottom: 160px;
    box-sizing: border-box;
  }
}

.interconnect {
  .banner-wrap {
    .caption {
      display: flex;
      align-items: center;
      padding-top: 12px;
      padding-left: 30px;

      .text{
        padding-left: 13px;
      }
    }
  }

  .swiper-wrap{
    margin: 48px auto 50px;
  }

  .interconnect-main {
    padding-bottom: 64px;
  }

  .tab-bar-self-wrap {
    padding-left: 70px;
    padding-right: 70px;
  }

}
