@import "@/assets/css/mixin.scss";
@import "~taro-ui/dist/style/components/flex.scss";

.statement-index {
  height: 100%;
  overflow-x: hidden;
  padding-top: 164px;
  box-sizing: border-box;
  .statement-main {
    padding-top: 16px;
    .statement-group {
      .title {
        @include font-style(32px, #000, bold);
        margin: 0 50px;
      }
      .content {
        margin: 25px 0;
        .item {
          padding-left: 20px;
          margin-bottom: 10px;
          & > view {
            width: 170px;
            text-align: center;
            .circle {
              @include flex-center();
              background: url("../../assets/images/circle.png") no-repeat;
              background-size: cover;
              height: 170px;
              width: 100%;
            }
            .caption {
              @include font-style(28px);
            }
          }
        }
      }
    }
  }
}
