@import "@/assets/css/mixin.scss";
.FloatLayout-box {
    .at-float-layout__container {
      border-radius: 40px 40px 0 0;
      .layout-body {
        padding: 0;
      }
    }

    .floatlayout-container {
      height: 800px;
      .top {
        padding: 30px 0;
        @include font-style(28px, #ff3f81);
        text-align: center;
        .color-black {
          color: #000;
        }
      }
      .content {
        @include font-style();
        margin-top: 26px;
        text-align: center;
        view {
          margin-bottom: 48px;
        }
        .bold {
          font-weight: bold;
        }
      }
    }
  }