@import "@/assets/css/mixin.scss";

.addActivity-add-wrapper {
  padding-bottom: 20px;
  .addActivity-add-main {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    height: 100%;
    .addActivity-add-info {
      margin: 0px 0px 30px;
      background: none;
      box-shadow: none;
      padding: 0;
      .list-item-content_title {
        .input-content {
          margin-left: 0;
        }
      }
      &.show-last-border {
        .list-item:last-child {
          border-bottom: 1px solid #e4e4e4;
        }
      }
      .caption {
        @include font-style(20px);
        margin-top: 25px;
        .del {
          margin-top: 20px;
          @include flex-center(row, flex-end);
        }
      }
      .placeholder {
        color: #848484;
      }
      .color-FF3F81 {
        color: #ff3f81 !important;
      }
    }
    .add {
      text-align: center;
      @include font-style(28px, #ff3f81);
    }
  }
  .botton-footer {
    flex-direction: row;
    .default-button {
      width: 312px;
      height: 90px;
      line-height: 90px;
      border-color: #434343;
      color: #434343 !important;
    }
    .space {
      margin-right: 20px;
    }
  }
  .edit-unit {
    @include font-style(20px, #848484);
    @include flex-center(column, null);
    .circle {
      width: 90px;
      height: 90px;
      background: #fdd000;
      border-radius: 50%;
      margin-bottom: 25px;
      @include flex-center();
    }
  }
}

.packageGoods {
  @include font-style();
  .bold {
    font-weight: bold;
  }
  .center {
    text-align: center;
  }
  .at-col {
    padding: 14px 0;
    @include text-overflow();
  }
  .add {
    text-align: right !important;
  }
}
