@import "@/assets/css/mixin.scss";

.goods-edit {
  padding-bottom: 100px;

  .goods-edit_wrap {
    height: 100%;

    .cover-box {
      position: relative;
      width: 100%;
      height: 750px;
      background-color: #F5F5F5;

      .swiper-box {
        height: 100%;
      }

      .img {
        width: 100%;
        height: 100%;
      }

      .pagination-box {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 150px;
      }

      .icon-box {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: #FDD000;
      }
    }

    .at-form {
      &::after {
        display: none;
      }
    }

    .input-wrap {
      margin-top: 20px;


    }

    .input-box-item {
      background-color: #ffffff;
      padding: 1px;
      box-sizing: border-box;
      margin-bottom: 20px;

      .ibi-caption {
        padding: 30px 50px 34px;
        @include font-style(32px, #434343, bold);

        .tag {
          margin-top: 10px;
          @include font-style(24px, #848484);
        }
      }

      .checkbox-box {
        margin-left: 40px;
      }

      .input-item,
      .at-input input {
        height: 80px;
        line-height: 80px;
        padding: 0 20px;
        background-color: #F5F5F5;
        border: 1px solid #E4E4E4;
        border-radius: 6px;
      }

      .input-item {
        margin-right: 12px;
      }

      .at-input {
        margin-left: 0;
        margin-bottom: 35px;
        padding: 0 24px 0 35px;
        border-bottom: 0;
        box-sizing: border-box;

        &::after {
          display: none;
        }
      }

      .input-box {
        margin-bottom: 35px;
        padding: 0 24px 0 35px;
        box-sizing: border-box;

        .list-text-item {
          align-items: center;
        }

        .lti-label {
          margin-right: 16rpx;
          width: 172rpx;
          font-size: 32rpx;
          line-height: 1.5;
          vertical-align: middle;
          text-align: left;
        }
      }


      .pt-34 {
        padding-top: 34px;
      }

      .label-w-auto {
        .lti-label {
          width: auto;
        }

        .lti-val {
          flex: 1
        }
      }

      .sale-price-box,
      .stock-box {
        .at-input {
          padding-right: 0;

          input {
            width: 160px;
          }
        }
      }

      .unit-box {
        .at-input {
          padding-left: 0;

          .at-input__title {
            width: 66px;
            @include font-style(28px, #000000);
          }

          input {
            width: 72px;
            @include font-style(28px, #848484);
          }
        }
      }

      .zero-box {
        margin-bottom: 30px;
      }
    }
  }

  .second-page_footer_wrap {
    height: 100px;
    display: block;

    .btn-yellow {
      width: 100%;
      height: 100px;
      border-radius: 0;
      line-height: 100px;
      @include font-style(32px, #434343, bold);
    }
  }
}
