@import "@/assets/css/mixin.scss";
@import "@/components/TabBarBottom/index.scss";
@import "../components/myGoods/goodsTab.scss";

.myGoods-wrapper {
  .myGoods-main {
    position: relative;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    height: 100%;

    .search-bar {
      width: 86.67%;
      margin: 0 auto;
      display: flex;
      align-items: center;

      .content {
        flex: 1;
        height: 80px;
        line-height: 80px;
        border-radius: 40px;
        padding: 0 30px;
        background: linear-gradient(90deg, #e5e5e5, #f5f5f5, #f5f5f5, #e0e0e0);
        box-shadow: inset 10px 25px 5px -10px #d5d5d5;
        @include flex-center();
        @include font-style(24px);

        .input-content {
          background: none;

          &::after {
            display: none;
          }
        }
      }

      .extra {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #229e8e;
        margin-right: 56px;
        @include flex-center();
        @include font-style(28px, #e4e4e4);
      }
    }

    .myGoods-tab {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;

      .at-tabs__header {
        width: 86.67%;
        margin: 0 auto;
      }

      .at-tabs__body {
        flex: 1;
        overflow: hidden;
      }
    }

    .package-container {
      margin-top: 38px;
    }
  }
}
