@import "@/assets/css/mixin.scss";

.type-wrapper {
  padding-bottom: 100px;

  .type-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding: 28px 6% 0;
    margin: 0 auto;
    box-sizing: border-box;

    .title {
      @include font-style(32px, #000, bold);
      margin-bottom: 50px;
    }
  }

  .type-tit {
    padding: 40px 0 30px;
    line-height: 36px;
    @include font-style(28px, #434343)
  }

  .second-page_footer_wrap {
    @include font-style(28px, #434343);

    .rule {
      color: #229E8E
    }
  }
}
