@import "@/assets/css/mixin.scss";

.mp-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: visibility 200ms ease-in;
  transition: visibility 200ms ease-in;
  z-index: 1000;

  &.mp-modal--active {
    visibility: visible;

    .mp-modal__container,
    .mp-modal__overlay {
      opacity: 1;
    }
  }

  .mp-modal__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .mp-modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 638px;
    padding: 0 100px;
    @include flex-center(column, null, center);
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;

    .mp-modal__icon {
      position: absolute;
      top: -60px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px solid #000;
      background: #fff;
      @include flex-center(null, center, center);
      position: absolute;
      top: -55px;
    }

    .mp-modal__title {
      font-size: 32px;
      font-weight: bold;
      margin: 82px 0 20px;
    }

    .mp-modal__content {
      height: 120px;

      .modal-content {
        font-size: 28px;

        text {
          display: block;
        }
      }
    }
  }

  .mp-modal__footer {
    padding-bottom: 40px;

    button {
      width: 200px;
      height: 80px;
      line-height: 80px;
      @include font-style(28px, #fff, bold);
      background: #229e8e;
      border-radius: 40px;
    }

    .button-group {
      background: #434343;
      width: 320px;
      border-radius: 40px;
      display: flex;
      padding: 22px 0;

      text {
        @include flex-center(row, center, center);
        @include font-style(28px, #fff, bold);
        flex: 1;

        &:last-child {
          color: #fdd000;
          border-left: 2px solid #fff;
        }
      }
    }
  }

  .mp-modal__container,
  .mp-modal__overlay {
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
  }
}
