.Statistic {
  margin-right: 40px;
  color: #434343;

  .text-box {
    display: flex;
    align-items: center;
  }

  .num {
    padding-left: 10px;
    line-height: 52px;
    font-size: 40px;
    font-weight: 800;
  }

  .desc {
    line-height: 30px;
    padding-left: 40px;
    font-size: 24px;
  }
}
