@import "@/assets/css/mixin.scss";


.system-record {
  .order-list_wrap {
    width: 86.67%;
    height: 100%;
    margin: 0 auto;
    padding: 1px;
    box-sizing: border-box;
  }

  .no-data {
    padding-top: 229px;
    text-align: center;

    .text1 {
      margin: 20px 0 20px;
      @include font-style(28px, #848484);
    }

    .text2 {
      @include font-style(24px, #DEDEDE);
    }
  }
}
