@import "@/assets/css/mixin.scss";

.goods-container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;

  .content-wrap {
    width: 84.67%;
    margin: 0 auto;
  }

  .goods-wrapper {
    height: 100%;
    margin: 0 auto;
    flex: 1;
    box-sizing: border-box;

    .goods-list-hook {
      overflow: hidden;
    }

    .title {
      @include font-style(20px, #848484);
      margin-bottom: 30px;

      text {
        margin-right: 10px;
      }
    }

    .empty {
      @include font-style(24px, #848484);
      margin-top: 30px;
    }
  }

  .picker-box {
    padding: 34px 0 20px;

    .picker-text {
      position: relative;
      display: inline-block;
      @include font-style(28px, #229E8E, bold);
      padding-right: 28px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: block;
        border-top: 9px solid #229E8E;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
      }
    }
  }

  .tag-item {
    margin-right: 40px;

    .at-tag {
      position: relative;
      padding-right: 60px;
      background-color: #f0f0f0;
      @include font-style(28px, #434343);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
        display: block;
        border-top: 9px solid #848484;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
      }
    }
  }

  .sort-box {
    margin: 33px auto 44px;
    @include font-style(28px, #434343);

    .item {
      position: relative;
      padding-right: 38px;

      .down,
      .up {
        position: absolute;
        right: 10px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
      }

      .down {
        bottom: 8px;
        border-top: 9px solid #848484;
      }

      .up {
        top: 8px;
        border-bottom: 9px solid #848484;
      }
    }
  }
}
