@import "@/assets/css/mixin.scss";
.goods-item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  .content {
    flex: 1;
    display: flex;
    .picture {
      width: 135px;
      height: 135px;
      border-radius: 10px;
      background: #e4e4e4;
      @include flex-center();
      image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .detail {
      flex: 1;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      .top {
        flex: 1;
      }
      .goods-name {
        @include font-style(28px, #434343, bold);
        @include text-overflow();
      }
      .goods-tag {
        @include font-style(16px, #229e8e);
        text {
          height: 30px;
          line-height: 28px;
          padding: 0 14px;
          border: 2px solid #229e8e;
          border-radius: 6px;
        }
      }
      .goods-price {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        @include font-style(16px);
        .money {
          flex: 1;
        }
        text {
          @include font-style();
        }
      }
    }
  }
}
