@import "@/assets/css/mixin.scss";

.getCustomer-caption_container {
  @include flex-center(row, flex-start);
  width: 94.67%;
  margin: 0 auto 47px;

  .left-wrap {
    @include flex-center();
    position: relative;
    width: 300px;
    height: 70px;
    padding-left: 90px;
    border-radius: 70px;
    background: linear-gradient(left, #C3C3C3, #DBDBDB, #C3C3C3);
    box-sizing: border-box;
    overflow: hidden;

    .circle-wrap {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 80px;
      border: 10px solid #239788;
      box-sizing: border-box;
      box-shadow: 0 0 12px rgba(0, 0, 0, .6);

      .circle-box {
        @include flex-center();
        width: 57px;
        height: 57px;
        border-radius: 57px;
        background-color: #ffffff;
        box-shadow: 0 0 6px rgba(0, 0, 0, .4);
      }
    }

    .tit {
      flex: 1;
      margin-left: 8px;
      @include font-style(28px, #000000);
    }
  }
}
