@import "@/assets/css/mixin.scss";
@import '../../../components/NavBar/index.scss';
@import '../components/Caption/index.scss';
@import '../components/TodayData/index.scss';
@import '../components/LinkCard/index.scss';
@import '../components/ContentCard/index.scss';
@import '../../../components/VipCard/index.scss';
@import '../components/AddLevel/index.scss';
@import '../components/Footer/index.scss';
@import "@/components/SmallSwitch";

.rebate_container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .rebate_caption_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
  }

  .rebate_main_wrap {
    height: 100%;
    overflow: auto;
  }

  .text-item {
    text-align: justify;
    line-height: 32px;
    @include font-style(24px, #434343);

    .label {
      @include font-style(24px, #229E8E, bold);
    }
  }


  .rebate_footer_wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    @include flex-center();
    overflow: hidden;

    .btn-box {
      width: 50%;

      .at-button {
        border-radius: 20px 0 0 0;
        width: 100%;
        height: 100px;
        line-height: 100px;
        @include font-style(32px, #434343, bold);
        background-color: #FDD000;
        border: 0;
      }
    }

    .btn-box-right {
      .at-button {
        border-radius: 0 20px 0 0;
        background-color: #434343;
        color: #FDD000;
      }
    }
  }
}

.rebate-card {
  margin-bottom: 40px;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, .1);
  border-radius: 20px;
  overflow: hidden;

  .rebate-card_caption {
    padding: 20px 30px 48px;
    background-color: #FDD000;
    @include font-style(28px, #FFFFFF, bold);

    .num {
      font-size: 40px;
      padding-right: 10px;
    }
  }

  .rebate-card_main {
    position: relative;
    padding: 92px 30px 117px;
    @include font-style(24px, #434343, bold);

    .rebate-card_circle {
      position: absolute;
      top: -73px;
      left: 50%;
      width: 146px;
      height: 146px;
      margin-left: -73px;

      .image {
        width: 100%;
        height: 100%;
      }

      .icon-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex-center();
      }
    }
  }
}


.rebate-set_container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 130px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .rebate-set_caption_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
  }

  .rebate-set_main_wrap {
    height: 100%;
    overflow: auto;

    .li {
      padding: 24px 0;
      line-height: 38px;
    }

    .at-switch {
      padding: 0;
    }

    .rebate-set_main_box {
      width: 86.67%;
      margin: 0 auto;
    }

    .tit {
      padding: 36px 0 24px;
    }
  }

  .rebate-set_footer_wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    @include flex-center();
    overflow: hidden;

    .button-position {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .color-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;

    .circle-color-box {
      width: 14.2858%;
      height: 80px;

      .circle-color {
        width: 40px;
        height: 40px;
        border-radius: 40px;
      }
    }
  }

  .rebate-card_caption {
    height: 120px;
    box-sizing: border-box;
  }

  .rebate-card_main {
    height: 240px;
    background-color: #EDEDED;
    box-sizing: border-box;
    box-shadow: none
  }

  .flex {
    @include flex-center();
    width: 100%;
    overflow: hidden;
  }

  .flex1 {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .flex-shrink {
    flex-shrink: 0;
  }

  .border-bottom {
    border-bottom: 1PX solid #E4E4E4;
  }

  .font-1 {
    @include font-style(20px, #848484);
  }

  .font-2 {
    @include font-style(24px, #000000, bold);
  }

  .font-3 {
    @include font-style(28px, #434343);
  }

  .font-4 {
    @include font-style(28px, #434343, bold);
  }

  .font-5 {
    @include font-style(24px, #848484);
  }

  .font-6 {
    @include font-style(24px, #434343);
  }

  .font-7 {
    @include font-style(20px, #434343);
  }

  .rebate-set-textarea_box {
    .t-tit {
      padding: 41px 0 20px;
    }
  }

  .rule-box {
    justify-content: space-between;
    align-items: flex-start;
  }

  .at-textarea {
    border-radius: 20px;
    border-color: #848484;
  }

  .at-textarea__textarea {
    line-height: 32px;
    @include font-style(24px, #848484);
  }

  .at-textarea__counter {
    @include font-style(20px, #848484);
  }

}
