@import "@/assets/css/mixin.scss";

.getCustomer-contentCard_container {
  width: 94.67%;
  margin: 0 auto 60px;
  padding: 30px 30px 60px;
  border-radius: 20px;
  box-shadow: 0 0 6px #e4e4e4;
  box-sizing: border-box;
  background: linear-gradient(left, #EDEDED, #FBFBFB, #FFFFFF);

  .caption {
    .item {
      @include flex-center(row, space-between);
    }

    .tit {
      margin-bottom: 10px;
      line-height: 42px;
      @include font-style(32px, #229E8E, bold);
    }

    .step {
      @include flex-center(row, flex-end, flex-end);
      @include font-style(28px, #434343, bold);

      .num {
        @include font-style(32px, #434343, bold);
      }
    }

    .caption-content {
      align-items: flex-end;
    }

    .desc {
      flex: 1;
      line-height: 30px;
      min-height: 60px;
      max-height: 90px;
      @include font-style(24px, #848484, bold);
      overflow: hidden;
      text-align: justify;
    }

    .btn {
      margin-left: 40px;
      flex-shrink: 0;

      .at-button {
        width: 180px;
        height: 60px;
        line-height: 58px;
        border-color: #434343;
        @include font-style(28px, #434343);
      }
    }
  }

  .small-caption {
    margin-top: 59px;
    margin-bottom: 40px;
    @include flex-center(row, flex-start);

    .text {
      padding-left: 10px;
      @include font-style(28px, #000000, bold);
    }
  }

  .small-special {
    @include flex-center(row, space-between, flex-start);
    margin-bottom: 20px;
    overflow: hidden;

    .text-box {
      flex: 1;
    }

    .tit {
      margin-bottom: 10px;
      line-height: 36px;
      @include font-style(28px, #434343, bold);
    }

    .desc {
      line-height: 32px;
      @include font-style(24px, #848484);
    }

    .set-btn {
      flex-shrink: 0;

      .at-button {
        width: 120px;
        height: 40px;
        line-height: 38px;
        border-color: #434343;
        @include font-style(20px, #434343);
      }
    }
  }
}
