@import "@/assets/css/mixin.scss";
@import "../components/FloatLayoutPicker/index.scss";

.member-wrapper {
  padding-bottom: 20px;
  .member-main {
    padding: 0 20px;
    flex-grow: 1;
    overflow-x: hidden;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .top {
      background: #434343;
      border-radius: 10px 10px 0 0;
      padding: 0 20px 0 40px;
      height: 60px;
      font-size: 24px;
      margin: 0 30px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      color: #fff;
      .left {
        flex: 1;
        display: flex;
        align-items: center;
      }
      .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #fdd000;
        margin-right: 10px;
        @include flex-center();
      }
      .right {
        padding: 0 40px;
      }
    }
    .member-content {
      height: 290px;
      background: #f0f0f0;
      border-radius: 20px;
      box-sizing: border-box;
      box-sizing: 0 4px 6px #e4e4e4;
      padding: 30px;
      box-sizing: border-box;
      .qrcode {
        @include flex-center(column);
        image {
          width: 192px;
          height: 192px;
          border-radius: 10px;
          background: #fff;
        }
        text {
          @include font-style(24px, #000, bold);
          margin-top: 10px;
          display: block;
        }
      }
      .selectLevel {
        @include flex-center();
        height: 100%;
        @include font-style(28px, #ff3f81);
        view {
          @include flex-center(row, null);
        }
        text {
          padding-left: 10px;
        }
      }
    }
    .empty {
      padding: 0 30px;
      height: 60px;
      line-height: 60px;
      text-align: right;
      @include font-style(24px, #e0004e);
    }
    .member-info {
      margin: 0px 30px 0;
      background: none;
      box-shadow: none;
      padding: 0;

      .title {
        @include font-style(28px, #000);
        padding: 10px 0;
      }
      .more {
        text-align: center;
        margin-top: 37px;
        @include font-style(24px, #229e8e);
      }
    }
  }
  .button-position {
    flex-direction: row;
    .default-button {
      width: 312px;
      height: 90px;
      line-height: 90px;
      border-color: #434343;
      color: #434343 !important;
    }
    .space {
      margin-right: 20px;
    }
  }
}
