@import "@/assets/css/mixin.scss";

.getCustomer-footer_container {
  text-align: center;
  padding-bottom: 30px;
  @include font-style(24px, #848484);

  .text2 {
    @include font-style(24px, #FF3F81, bold);
    background-color: transparent;
  }
}
