.progress_box,
.progress_canvas {
  position: relative;
}
.progress_bg {
  position: absolute;
}
.circle_info {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle_txt {
  color: #e0004e;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}
