@import "@/assets/css/mixin.scss";
@import "@/components/TabBarBottom/index.scss";

.classify-wrapper {
  padding-bottom: 20px;

  .classify-main {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    padding-top: 28px;
    height: 100%;

    .switch-wrap {
      padding-bottom: 34px;
      @include font-style(32px, #434343);

      .tag {
        margin-top: 10px;
        @include font-style(24px, #848484);
      }
    }

    .cl-caption {
      padding-top: 58px;
      padding-bottom: 34px;
      @include font-style(32px, #434343, bold);
    }

    .classify-list {
      .classify-list-item {
        @include font-style();
        @include flex-center(row, null);
        border-bottom: 2px solid #e4e4e4;
        height: 100px;

        .type {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          color: #fff;
          @include flex-center();

          &.color-1 {
            background: #fdd000;
          }

          &.color-2 {
            background: #229e8e;
          }
        }

        .content {
          flex: 1;
          height: 100%;
          @include flex-center(row, null);
        }
      }
    }
  }
}
