.advert-container {
  width: 94.67%;
  margin: 0 auto;

  .caption {
    line-height: 42px;
    padding: 40px 30px 30px;
    font-size: 32px;
    font-weight: 800;
  }

  .advert-wrap {
    display: flex;
    justify-content: space-between;
    .advert-item-box{
      width: 30%;
    }
  }
}
