.integral-container {
  width: 94.67%;
  margin: 0 auto;
  padding-bottom: 60px;

  .integral-wrap {
    display: flex;
    padding: 32px 30px;
    background: #d5d5d5;
    background: -moz-linear-gradient(90deg, #d5d5d5, #f9f9f9 30%, #bfbfbf);
    background: -webkit-gradient(linear, left top, right top, from(#d5d5d5), color-stop(.3, #f9f9f9), to(#bfbfbf));
    background: -webkit-linear-gradient(90deg, #d5d5d5, #f9f9f9 30%, #bfbfbf);
    background: -o-linear-gradient(90deg, #d5d5d5, #f9f9f9 30%, #bfbfbf);
    background: -ms-linear-gradient(90deg, #d5d5d5, #f9f9f9 30%, #bfbfbf);
    background: linear-gradient(90deg, #d5d5d5, #f9f9f9 30%, #bfbfbf);
    border-radius: 20px;
    box-shadow: 6px 16px 16px rgba(0, 0, 0, .2);

    .item {
      display: inline-block;
    }

    .text {
      margin-left: 13px;
      margin-right: 18px;
      color: #000000;

      .text1 {
        line-height: 32px;
        font-size: 28px;
      }

      .text2 {
        font-weight: bold;
        font-size: 24px;
      }
    }

    .progress-wrap {
      margin-left: 16px;
      flex: 1;
    }

    .progress-box {
      padding: 4px 10px;
      margin: 0 !important;
      background-color: #D9D5D4;
      border-radius: 50px;
    }

    .progress-text {
      display: flex;
      margin-top: 12px;
      font-size: 28px;

      .text1{
        margin-right: 42px;
      }
    }

    .progress {
      position: relative;
      display: flex;
      align-items: center;
      height: 16px;

      .circle {
        flex-shrink: 0;
        width: 12px;
        height: 12px;
        border-radius: 12px;
        background-color: #C3C3C3;
      }

      .line {
        flex: 1;
        height: 8px;
        background-color: #C3C3C3;
      }

      .circle2 {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background-color: #ffffff;
      }

      .progress {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;

        .circle,
        .line {
          background-color: #FF3F81;
        }
      }
    }


    .btn-wrap {
      margin-left: 26px;

      .progress-btn {
        width: 120px;
        height: 52px;
        line-height: 52px;
        font-size: 28px;
      }
    }
  }
}
