@import "@/assets/css/mixin.scss";
@import '@/components/Root/index.scss';
@import '@/components/NavBar/index.scss';
@import './components/cardItem/index.scss';

.create-coupon_container {
    padding-bottom: 0;
  .second-page_main_box {
    width: 89.33% !important;
  }

  .create-coupon_tit {
    margin: 40px 0 30px;
    padding: 0 20px;
    line-height: 36px;
    @include font-style(28px, #434343);
  }
}
