@import "@/assets/css/mixin.scss";

.goods-item-container {
  position: relative;
  padding-top: 30px;

  .goods-item {
    width: 84.67%;
    position: relative;
    display: flex;
    padding-bottom: 12px;
    margin: 0 auto;

    .content {
      flex: 1;
      display: flex;
      overflow: hidden;

      .picture {
        width: 180px;
        height: 180px;
        border-radius: 10px;
        background: #e4e4e4;
        @include flex-center();

        image {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }

      .detail {
        flex: 1;
        overflow: hidden;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        @include font-style(28px, #000000);

        .gid-tit,
        .gid-desc {
          line-height: 36px;
          margin-bottom: 10px;
        }

        .gid-norms {
          @include font-style(24px, #848484);

          .v-line {
            margin: 0 10px;
            height: 18px;
            background-color: #848484;
          }
        }

        .gid-price {
          margin: 10px 0 7px;
          @include font-style(28px, #FF3F81, bold);
          line-height: 36px;

          .tag {
            width: 32px;
            height: 32px;
            line-height: 32px;
            margin-left: 20px;
            text-align: center;
            border-radius: 6px;
            background-color: #FF3F81;
            @include font-style(24px, #ffffff);
          }
        }

        .gid-time {
          @include font-style(20px, #848484);
        }
      }
    }

    .h-line {
      position: absolute;
      right: 0;
      left: 200px;
      bottom: 0;
      color: #E4E4E4;
    }
  }



  .gi-extra {
    margin-left: 38px;
    flex-direction: column;
  }

  .gi-prompt {
    position: absolute;
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);

    .gip-item {
      flex-direction: column;
      width: 100px;
      height: 100px;
      margin-right: 100px;
      border-radius: 100px;
      background-color: #FDD000;
      @include font-style(24px, #000000);
      line-height: 32px;

      .icon-box {
        margin-bottom: 5px;
      }
    }
  }
}
